/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


/*! www.KNACSS.com V6.0.5 (1er décembre 2016) @author: Alsacreations, Raphael Goetter | Licence WTFPL http://www.wtfpl.net/ */

body {
    margin: 0;
}

code,
pre,
samp,
kbd {
    /* IE fix */
    white-space: pre-line;
    white-space: pre-wrap;
    font-family: consolas, courier, monospace;
    line-height: normal;
}

em,
address,
cite,
i,
var {
    font-style: italic;
}


/* max values */

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
    max-width: 100%;
}

img {
    height: auto;
    vertical-align: middle;
}

sup,
sub {
    vertical-align: 0;
}

sup {
    bottom: 1ex;
}

sub {
    top: 0.5ex;
}

q {
    font-style: normal;
}

q {
    quotes: "“\00a0" "\00a0”";
}

q:lang(fr) {
    quotes: "«\00a0" "\00a0»";
}

table {
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td,
th {
    cursor: default;
}


/* buttons */

[type="reset"],
[type="submit"],
[type="button"],
button {
    display: inline-block;
}


/* forms items */

form,
fieldset {
    border: none;
}

input,
button,
select,
label {
    font-family: inherit;
    font-size: inherit;
}

button,
input,
optgroup,
select,
textarea {
    color: #000;
}

label {
    vertical-align: middle;
    cursor: pointer;
}

legend {
    border: 0;
    white-space: normal;
}

textarea {
    min-height: 5em;
    vertical-align: top;
    font-family: inherit;
    font-size: inherit;
    resize: vertical;
}

[type="reset"]:focus,
[type="submit"]:focus,
[type="button"]:focus,
button:focus {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    text-align: justify;
}

p+p {
    margin-top: 0;
    text-indent: 2em;
}

@media (max-width: 543px) {
    /* you shall not pass */
    div,
    textarea,
    table,
    td,
    th,
    code,
    pre,
    samp {
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}

@media (max-width: 543px) {
    .no-wrap {
        word-wrap: normal;
        -webkit-hyphens: manual;
        -ms-hyphens: manual;
        hyphens: manual;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    img[src$=".svg"] {
        width: 100%;
    }
}
