/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


/*! www.KNACSS.com V6.0.5 (1er décembre 2016) @author: Alsacreations, Raphael Goetter | Licence WTFPL http://www.wtfpl.net/ */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    body {
        width: auto;
        margin: auto;
        font-family: serif;
        font-size: 12pt;
    }
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    ul,
    ol {
        color: #000;
        margin: auto;
    }
    a {
        color: #000;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    /* no orphans, no widows */
    p,
    blockquote,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    /* no breaks inside these elements */
    blockquote,
    ul,
    ol {
        page-break-inside: avoid;
    }
    /* page break before main headers */
    h1 {
        page-break-before: always;
    }
    h1,
    h2,
    h3 {
        page-break-after: avoid;
    }
}
