/* https://webkit.org/blog/363/styling-scrollbars/
https://css-tricks.com/custom-scrollbars-in-webkit/

:horizontal
:vertical
:decrement
:increment
:start
:end 
:double-button
:single-button
:no-button
:corner-present
:window-inactive
 */


/* 1 */

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
    border-right: 1px solid var(--neutral);
}


/* 2 */

::-webkit-scrollbar-button {}


/* 3 */

::-webkit-scrollbar-track {
    border-radius: 0;
    background: transparent;
}

::-webkit-scrollbar-track:disabled {
    background-color: var(--neutral-light);
}


/* 4 */

::-webkit-scrollbar-track-piece:start {
    background-color: var(--primary);
    background: linear-gradient(135deg, var(--secondary) 0%, var(--primary) 50%, var(--secondary) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

::-webkit-scrollbar-track-piece:disabled:start {
    background-color: var(--neutral);
}


/* 5 */

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 0;
    border: 1px solid var(--neutral-dark);
    background: var(--basic-light);
}


/* 6 */

::-webkit-scrollbar-corner {}


/* 7 */

::-webkit-resizer {}
