:root {
    
    /**--- Typography chart -------------------*/
    --font-family: 'Avenir Next LT Pro', Arial, Helvetica, sans-serif;
    --font-primary: bold 4.8rem/5.2rem 'Avenir Next LT Pro', Arial, Helvetica, sans-serif;
    --font-secondary: bold 4.2rem/4.6rem 'Avenir Next LT Pro', Arial, Helvetica, sans-serif;
    --font-tertiary: bold 3.6rem/4.0rem 'Avenir Next LT Pro', Arial, Helvetica, sans-serif;
    --font-quaternary: bold 3.2rem/3.6rem 'Avenir Next LT Pro', Arial, Helvetica, sans-serif;
    --font-quinquenary: bold 3.0rem/3.4rem 'Avenir Next LT Pro', Arial, Helvetica, sans-serif;
    --font-sextenary: bold 2.8rem/3.2rem 'Avenir Next LT Pro', Arial, Helvetica, sans-serif;
    
    
    /**--- Color chart -------------------*/
    --basic-dark: #111;
    --basic-light: #FFF;
    --basic-link: #2828FF;
    
    /* Primary */
    --primary: #00AFF5;
    --primary-dark: #00587a;
    --primary-light: #66d4ff;
    
    /* Neutral */
    --neutral: #A5A5A5;
    --neutral-dark: #4A5051;
    --neutral-light: #C6C6C6;
    
    /* Secondary */
    --secondary: #71ACE2;
    --secondary-dark: #203E5A;
    --secondary-light: #B2DAFF;
    
    /* Mild */
    --mild: #95c11f;
    --mild-dark: #2B5916;
    --mild-light: #BAE83E;
    
    /* Accent */
    --accent: #D6AD10;
    --accent-dark: #514516;
    --accent-light: #FFD738;
    
    /* Heavy */
    --heavy: #FF7777;
    --heavy-dark: #891B2D;
    --heavy-light: #FFB7B7;

    
    /**--- Margin chart -------------------*/
    --space-macro: 10rem;
    --space-l: 5rem;
    --space-m: 2.5rem;
    --space-s: 1.5rem;
    --space-xs: 1rem;
    --space-xxs: 0.5rem;
    --space-micro: 0.25rem;
}
