@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonticon/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(assets/fonticon/MaterialIcons-Regular.woff2) format('woff2'), url(assets/fonticon/MaterialIcons-Regular.woff) format('woff'), url(assets/fonticon/MaterialIcons-Regular.ttf) format('truetype');
}

.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /* Preferred icon size */
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

._icon16 { font-size: 1.6rem; }
._icon24 { font-size: 2.4rem; }
._icon32 { font-size: 3.2rem; }
._icon64 { font-size: 6.4rem; }
