/* ---------------------------------- */
/* ==Grillade : Simple Grid System    */
/* ---------------------------------- */
/* Doc : http://grillade.knacss.com */
@media (min-width: 576px) {
  [class*=" grid-"],
  [class^="grid-"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    [class*=" grid-"] > *,
    [class^="grid-"] > * {
      box-sizing: border-box;
      min-width: 0;
      min-height: 0; } }

@media (min-width: 576px) {
  .grid,
  .grid--reverse {
    display: flex; }
    .grid > *,
    .grid--reverse > * {
      flex: 1 1 0%;
      box-sizing: border-box;
      min-width: 0;
      min-height: 0; }
    .grid.has-gutter > * + *,
    .grid--reverse.has-gutter > * + * {
      margin-left: calc(1rem - 0.01px); }
    .grid.has-gutter-l > * + *,
    .grid--reverse.has-gutter-l > * + * {
      margin-left: calc(2rem - 0.01px); }
    .grid.has-gutter-xl > * + *,
    .grid--reverse.has-gutter-xl > * + * {
      margin-left: calc(4rem - 0.01px); } }

@media (min-width: 576px) {
  [class*="grid-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="grid-2"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-2"].has-gutter > * {
      width: calc(100% / 2 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-2"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-2"].has-gutter-l > * {
      width: calc(100% / 2 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-2"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-2"].has-gutter-xl > * {
      width: calc(100% / 2 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="grid-3"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-3"].has-gutter > * {
      width: calc(100% / 3 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-3"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-3"].has-gutter-l > * {
      width: calc(100% / 3 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-3"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-3"].has-gutter-xl > * {
      width: calc(100% / 3 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="grid-4"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-4"].has-gutter > * {
      width: calc(100% / 4 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-4"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-4"].has-gutter-l > * {
      width: calc(100% / 4 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-4"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-4"].has-gutter-xl > * {
      width: calc(100% / 4 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-5"] > * {
    width: calc(100% / 5 - 0.01px); }
  [class*="grid-5"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-5"].has-gutter > * {
      width: calc(100% / 5 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-5"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-5"].has-gutter-l > * {
      width: calc(100% / 5 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-5"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-5"].has-gutter-xl > * {
      width: calc(100% / 5 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-6"] > * {
    width: calc(100% / 6 - 0.01px); }
  [class*="grid-6"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-6"].has-gutter > * {
      width: calc(100% / 6 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-6"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-6"].has-gutter-l > * {
      width: calc(100% / 6 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-6"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-6"].has-gutter-xl > * {
      width: calc(100% / 6 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-7"] > * {
    width: calc(100% / 7 - 0.01px); }
  [class*="grid-7"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-7"].has-gutter > * {
      width: calc(100% / 7 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-7"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-7"].has-gutter-l > * {
      width: calc(100% / 7 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-7"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-7"].has-gutter-xl > * {
      width: calc(100% / 7 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-8"] > * {
    width: calc(100% / 8 - 0.01px); }
  [class*="grid-8"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-8"].has-gutter > * {
      width: calc(100% / 8 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-8"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-8"].has-gutter-l > * {
      width: calc(100% / 8 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-8"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-8"].has-gutter-xl > * {
      width: calc(100% / 8 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-9"] > * {
    width: calc(100% / 9 - 0.01px); }
  [class*="grid-9"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-9"].has-gutter > * {
      width: calc(100% / 9 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-9"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-9"].has-gutter-l > * {
      width: calc(100% / 9 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-9"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-9"].has-gutter-xl > * {
      width: calc(100% / 9 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-10"] > * {
    width: calc(100% / 10 - 0.01px); }
  [class*="grid-10"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-10"].has-gutter > * {
      width: calc(100% / 10 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-10"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-10"].has-gutter-l > * {
      width: calc(100% / 10 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-10"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-10"].has-gutter-xl > * {
      width: calc(100% / 10 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-11"] > * {
    width: calc(100% / 11 - 0.01px); }
  [class*="grid-11"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-11"].has-gutter > * {
      width: calc(100% / 11 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-11"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-11"].has-gutter-l > * {
      width: calc(100% / 11 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-11"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-11"].has-gutter-xl > * {
      width: calc(100% / 11 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; }
  [class*="grid-12"] > * {
    width: calc(100% / 12 - 0.01px); }
  [class*="grid-12"].has-gutter {
    margin-right: -0.5rem;
    margin-left: -0.5rem; }
    [class*="grid-12"].has-gutter > * {
      width: calc(100% / 12 - 1rem - 0.01px);
      margin-right: 0.5rem;
      margin-left: 0.5rem; }
  [class*="grid-12"].has-gutter-l {
    margin-right: -1rem;
    margin-left: -1rem; }
    [class*="grid-12"].has-gutter-l > * {
      width: calc(100% / 12 - 2rem - 0.01px);
      margin-right: 1rem;
      margin-left: 1rem; }
  [class*="grid-12"].has-gutter-xl {
    margin-right: -2rem;
    margin-left: -2rem; }
    [class*="grid-12"].has-gutter-xl > * {
      width: calc(100% / 12 - 4rem - 0.01px);
      margin-right: 2rem;
      margin-left: 2rem; } }

.push {
  margin-left: auto !important; }

.pull {
  margin-right: auto !important; }

.item-first {
  order: -1; }

.item-last {
  order: 1; }

[class*="grid-"][class*="--reverse"] {
  flex-direction: row-reverse; }

@media (min-width: 576px) {
  .full {
    flex: 0 0 auto;
    width: calc(100% / 1 - 0.01px); }
  .has-gutter > .full {
    width: calc(100% / 1 - 1rem - 0.01px); }
  .has-gutter-l > .full {
    width: calc(100% / 1 - 2rem - 0.01px); }
  .has-gutter-xl > .full {
    width: calc(100% / 1 - 4rem - 0.01px); }
  .one-half {
    flex: 0 0 auto;
    width: calc(100% / 2 - 0.01px); }
  .has-gutter > .one-half {
    width: calc(100% / 2 - 1rem - 0.01px); }
  .has-gutter-l > .one-half {
    width: calc(100% / 2 - 2rem - 0.01px); }
  .has-gutter-xl > .one-half {
    width: calc(100% / 2 - 4rem - 0.01px); }
  .one-third {
    flex: 0 0 auto;
    width: calc(100% / 3 - 0.01px); }
  .has-gutter > .one-third {
    width: calc(100% / 3 - 1rem - 0.01px); }
  .has-gutter-l > .one-third {
    width: calc(100% / 3 - 2rem - 0.01px); }
  .has-gutter-xl > .one-third {
    width: calc(100% / 3 - 4rem - 0.01px); }
  .one-quarter {
    flex: 0 0 auto;
    width: calc(100% / 4 - 0.01px); }
  .has-gutter > .one-quarter {
    width: calc(100% / 4 - 1rem - 0.01px); }
  .has-gutter-l > .one-quarter {
    width: calc(100% / 4 - 2rem - 0.01px); }
  .has-gutter-xl > .one-quarter {
    width: calc(100% / 4 - 4rem - 0.01px); }
  .one-fifth {
    flex: 0 0 auto;
    width: calc(100% / 5 - 0.01px); }
  .has-gutter > .one-fifth {
    width: calc(100% / 5 - 1rem - 0.01px); }
  .has-gutter-l > .one-fifth {
    width: calc(100% / 5 - 2rem - 0.01px); }
  .has-gutter-xl > .one-fifth {
    width: calc(100% / 5 - 4rem - 0.01px); }
  .one-sixth {
    flex: 0 0 auto;
    width: calc(100% / 6 - 0.01px); }
  .has-gutter > .one-sixth {
    width: calc(100% / 6 - 1rem - 0.01px); }
  .has-gutter-l > .one-sixth {
    width: calc(100% / 6 - 2rem - 0.01px); }
  .has-gutter-xl > .one-sixth {
    width: calc(100% / 6 - 4rem - 0.01px); }
  .two-thirds {
    flex: 0 0 auto;
    width: calc(100% / 3 * 2 - 0.01px); }
  .has-gutter > .two-thirds {
    width: calc(100% / 3 * 2 - 1rem - 0.01px); }
  .has-gutter-l > .two-thirds {
    width: calc(100% / 3 * 2 - 2rem - 0.01px); }
  .has-gutter-xl > .two-thirds {
    width: calc(100% / 3 * 2 - 4rem - 0.01px); }
  .three-quarters {
    flex: 0 0 auto;
    width: calc(100% / 4 * 3 - 0.01px); }
  .has-gutter > .three-quarters {
    width: calc(100% / 4 * 3 - 1rem - 0.01px); }
  .has-gutter-l > .three-quarters {
    width: calc(100% / 4 * 3 - 2rem - 0.01px); }
  .has-gutter-xl > .three-quarters {
    width: calc(100% / 4 * 3 - 4rem - 0.01px); }
  .five-sixths {
    flex: 0 0 auto;
    width: calc(100% / 6 * 5 - 0.01px); }
  .has-gutter > .five-sixths {
    width: calc(100% / 6 * 5 - 1rem - 0.01px); }
  .has-gutter-l > .five-sixths {
    width: calc(100% / 6 * 5 - 2rem - 0.01px); }
  .has-gutter-xl > .five-sixths {
    width: calc(100% / 6 * 5 - 4rem - 0.01px); } }

/* Responsive Small Breakpoint */
@media (min-width: 576px) and (max-width: 767px) {
  [class*="-small-1"] > * {
    width: calc(100% / 1 - 0.01px); }
  [class*="-small-1"].has-gutter > * {
    width: calc(100% / 1 - 1rem - 0.01px); }
  [class*="-small-1"].has-gutter-l > * {
    width: calc(100% / 1 - 2rem - 0.01px); }
  [class*="-small-1"].has-gutter-xl > * {
    width: calc(100% / 1 - 4rem - 0.01px); }
  [class*="-small-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="-small-2"].has-gutter > * {
    width: calc(100% / 2 - 1rem - 0.01px); }
  [class*="-small-2"].has-gutter-l > * {
    width: calc(100% / 2 - 2rem - 0.01px); }
  [class*="-small-2"].has-gutter-xl > * {
    width: calc(100% / 2 - 4rem - 0.01px); }
  [class*="-small-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="-small-3"].has-gutter > * {
    width: calc(100% / 3 - 1rem - 0.01px); }
  [class*="-small-3"].has-gutter-l > * {
    width: calc(100% / 3 - 2rem - 0.01px); }
  [class*="-small-3"].has-gutter-xl > * {
    width: calc(100% / 3 - 4rem - 0.01px); }
  [class*="-small-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="-small-4"].has-gutter > * {
    width: calc(100% / 4 - 1rem - 0.01px); }
  [class*="-small-4"].has-gutter-l > * {
    width: calc(100% / 4 - 2rem - 0.01px); }
  [class*="-small-4"].has-gutter-xl > * {
    width: calc(100% / 4 - 4rem - 0.01px); } }

/* OneCSS responsive extension */
/* extra large screens */
/* ------------- */
@media (min-width: 1200px) {
  [class*="-extra-1"] > * {
    width: calc(100% / 1 - 0.01px); }
  [class*="-extra-1"].has-gutter > * {
    width: calc(100% / 1 - 1rem - 0.01px); }
  [class*="-extra-1"].has-gutter-l > * {
    width: calc(100% / 1 - 2rem - 0.01px); }
  [class*="-extra-1"].has-gutter-xl > * {
    width: calc(100% / 1 - 4rem - 0.01px); }
  [class*="-extra-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="-extra-2"].has-gutter > * {
    width: calc(100% / 2 - 1rem - 0.01px); }
  [class*="-extra-2"].has-gutter-l > * {
    width: calc(100% / 2 - 2rem - 0.01px); }
  [class*="-extra-2"].has-gutter-xl > * {
    width: calc(100% / 2 - 4rem - 0.01px); }
  [class*="-extra-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="-extra-3"].has-gutter > * {
    width: calc(100% / 3 - 1rem - 0.01px); }
  [class*="-extra-3"].has-gutter-l > * {
    width: calc(100% / 3 - 2rem - 0.01px); }
  [class*="-extra-3"].has-gutter-xl > * {
    width: calc(100% / 3 - 4rem - 0.01px); }
  [class*="-extra-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="-extra-4"].has-gutter > * {
    width: calc(100% / 4 - 1rem - 0.01px); }
  [class*="-extra-4"].has-gutter-l > * {
    width: calc(100% / 4 - 2rem - 0.01px); }
  [class*="-extra-4"].has-gutter-xl > * {
    width: calc(100% / 4 - 4rem - 0.01px); }
  [class*="-extra-5"] > * {
    width: calc(100% / 5 - 0.01px); }
  [class*="-extra-5"].has-gutter > * {
    width: calc(100% / 5 - 1rem - 0.01px); }
  [class*="-extra-5"].has-gutter-l > * {
    width: calc(100% / 5 - 2rem - 0.01px); }
  [class*="-extra-5"].has-gutter-xl > * {
    width: calc(100% / 5 - 4rem - 0.01px); }
  [class*="-extra-6"] > * {
    width: calc(100% / 6 - 0.01px); }
  [class*="-extra-6"].has-gutter > * {
    width: calc(100% / 6 - 1rem - 0.01px); }
  [class*="-extra-6"].has-gutter-l > * {
    width: calc(100% / 6 - 2rem - 0.01px); }
  [class*="-extra-6"].has-gutter-xl > * {
    width: calc(100% / 6 - 4rem - 0.01px); }
  [class*="-extra-7"] > * {
    width: calc(100% / 7 - 0.01px); }
  [class*="-extra-7"].has-gutter > * {
    width: calc(100% / 7 - 1rem - 0.01px); }
  [class*="-extra-7"].has-gutter-l > * {
    width: calc(100% / 7 - 2rem - 0.01px); }
  [class*="-extra-7"].has-gutter-xl > * {
    width: calc(100% / 7 - 4rem - 0.01px); }
  [class*="-extra-8"] > * {
    width: calc(100% / 8 - 0.01px); }
  [class*="-extra-8"].has-gutter > * {
    width: calc(100% / 8 - 1rem - 0.01px); }
  [class*="-extra-8"].has-gutter-l > * {
    width: calc(100% / 8 - 2rem - 0.01px); }
  [class*="-extra-8"].has-gutter-xl > * {
    width: calc(100% / 8 - 4rem - 0.01px); }
  [class*="-extra-9"] > * {
    width: calc(100% / 9 - 0.01px); }
  [class*="-extra-9"].has-gutter > * {
    width: calc(100% / 9 - 1rem - 0.01px); }
  [class*="-extra-9"].has-gutter-l > * {
    width: calc(100% / 9 - 2rem - 0.01px); }
  [class*="-extra-9"].has-gutter-xl > * {
    width: calc(100% / 9 - 4rem - 0.01px); }
  [class*="-extra-10"] > * {
    width: calc(100% / 10 - 0.01px); }
  [class*="-extra-10"].has-gutter > * {
    width: calc(100% / 10 - 1rem - 0.01px); }
  [class*="-extra-10"].has-gutter-l > * {
    width: calc(100% / 10 - 2rem - 0.01px); }
  [class*="-extra-10"].has-gutter-xl > * {
    width: calc(100% / 10 - 4rem - 0.01px); } }

/* large screens */
/* ------------- */
@media (min-width: 992px) {
  [class*="-large-1"] > * {
    width: calc(100% / 1 - 0.01px); }
  [class*="-large-1"].has-gutter > * {
    width: calc(100% / 1 - 1rem - 0.01px); }
  [class*="-large-1"].has-gutter-l > * {
    width: calc(100% / 1 - 2rem - 0.01px); }
  [class*="-large-1"].has-gutter-xl > * {
    width: calc(100% / 1 - 4rem - 0.01px); }
  [class*="-large-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="-large-2"].has-gutter > * {
    width: calc(100% / 2 - 1rem - 0.01px); }
  [class*="-large-2"].has-gutter-l > * {
    width: calc(100% / 2 - 2rem - 0.01px); }
  [class*="-large-2"].has-gutter-xl > * {
    width: calc(100% / 2 - 4rem - 0.01px); }
  [class*="-large-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="-large-3"].has-gutter > * {
    width: calc(100% / 3 - 1rem - 0.01px); }
  [class*="-large-3"].has-gutter-l > * {
    width: calc(100% / 3 - 2rem - 0.01px); }
  [class*="-large-3"].has-gutter-xl > * {
    width: calc(100% / 3 - 4rem - 0.01px); }
  [class*="-large-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="-large-4"].has-gutter > * {
    width: calc(100% / 4 - 1rem - 0.01px); }
  [class*="-large-4"].has-gutter-l > * {
    width: calc(100% / 4 - 2rem - 0.01px); }
  [class*="-large-4"].has-gutter-xl > * {
    width: calc(100% / 4 - 4rem - 0.01px); }
  [class*="-large-5"] > * {
    width: calc(100% / 5 - 0.01px); }
  [class*="-large-5"].has-gutter > * {
    width: calc(100% / 5 - 1rem - 0.01px); }
  [class*="-large-5"].has-gutter-l > * {
    width: calc(100% / 5 - 2rem - 0.01px); }
  [class*="-large-5"].has-gutter-xl > * {
    width: calc(100% / 5 - 4rem - 0.01px); }
  [class*="-large-6"] > * {
    width: calc(100% / 6 - 0.01px); }
  [class*="-large-6"].has-gutter > * {
    width: calc(100% / 6 - 1rem - 0.01px); }
  [class*="-large-6"].has-gutter-l > * {
    width: calc(100% / 6 - 2rem - 0.01px); }
  [class*="-large-6"].has-gutter-xl > * {
    width: calc(100% / 6 - 4rem - 0.01px); }
  [class*="-large-7"] > * {
    width: calc(100% / 7 - 0.01px); }
  [class*="-large-7"].has-gutter > * {
    width: calc(100% / 7 - 1rem - 0.01px); }
  [class*="-large-7"].has-gutter-l > * {
    width: calc(100% / 7 - 2rem - 0.01px); }
  [class*="-large-7"].has-gutter-xl > * {
    width: calc(100% / 7 - 4rem - 0.01px); }
  [class*="-large-8"] > * {
    width: calc(100% / 8 - 0.01px); }
  [class*="-large-8"].has-gutter > * {
    width: calc(100% / 8 - 1rem - 0.01px); }
  [class*="-large-8"].has-gutter-l > * {
    width: calc(100% / 8 - 2rem - 0.01px); }
  [class*="-large-8"].has-gutter-xl > * {
    width: calc(100% / 8 - 4rem - 0.01px); }
  [class*="-large-9"] > * {
    width: calc(100% / 9 - 0.01px); }
  [class*="-large-9"].has-gutter > * {
    width: calc(100% / 9 - 1rem - 0.01px); }
  [class*="-large-9"].has-gutter-l > * {
    width: calc(100% / 9 - 2rem - 0.01px); }
  [class*="-large-9"].has-gutter-xl > * {
    width: calc(100% / 9 - 4rem - 0.01px); }
  [class*="-large-10"] > * {
    width: calc(100% / 10 - 0.01px); }
  [class*="-large-10"].has-gutter > * {
    width: calc(100% / 10 - 1rem - 0.01px); }
  [class*="-large-10"].has-gutter-l > * {
    width: calc(100% / 10 - 2rem - 0.01px); }
  [class*="-large-10"].has-gutter-xl > * {
    width: calc(100% / 10 - 4rem - 0.01px); } }

/* medium screens */
/* -------------- */
@media (min-width: 768px) and (max-width: 991px) {
  [class*="-medium-1"] > * {
    width: calc(100% / 1 - 0.01px); }
  [class*="-medium-1"].has-gutter > * {
    width: calc(100% / 1 - 1rem - 0.01px); }
  [class*="-medium-1"].has-gutter-l > * {
    width: calc(100% / 1 - 2rem - 0.01px); }
  [class*="-medium-1"].has-gutter-xl > * {
    width: calc(100% / 1 - 4rem - 0.01px); }
  [class*="-medium-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="-medium-2"].has-gutter > * {
    width: calc(100% / 2 - 1rem - 0.01px); }
  [class*="-medium-2"].has-gutter-l > * {
    width: calc(100% / 2 - 2rem - 0.01px); }
  [class*="-medium-2"].has-gutter-xl > * {
    width: calc(100% / 2 - 4rem - 0.01px); }
  [class*="-medium-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="-medium-3"].has-gutter > * {
    width: calc(100% / 3 - 1rem - 0.01px); }
  [class*="-medium-3"].has-gutter-l > * {
    width: calc(100% / 3 - 2rem - 0.01px); }
  [class*="-medium-3"].has-gutter-xl > * {
    width: calc(100% / 3 - 4rem - 0.01px); }
  [class*="-medium-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="-medium-4"].has-gutter > * {
    width: calc(100% / 4 - 1rem - 0.01px); }
  [class*="-medium-4"].has-gutter-l > * {
    width: calc(100% / 4 - 2rem - 0.01px); }
  [class*="-medium-4"].has-gutter-xl > * {
    width: calc(100% / 4 - 4rem - 0.01px); }
  [class*="-medium-5"] > * {
    width: calc(100% / 5 - 0.01px); }
  [class*="-medium-5"].has-gutter > * {
    width: calc(100% / 5 - 1rem - 0.01px); }
  [class*="-medium-5"].has-gutter-l > * {
    width: calc(100% / 5 - 2rem - 0.01px); }
  [class*="-medium-5"].has-gutter-xl > * {
    width: calc(100% / 5 - 4rem - 0.01px); } }

/* tiny screens */
/* ------------ */
@media (max-width: 575px) {
  [class*="-tiny-1"] > * {
    width: calc(100% / 1 - 0.01px); }
  [class*="-tiny-1"].has-gutter > * {
    width: calc(100% / 1 - 1rem - 0.01px); }
  [class*="-tiny-1"].has-gutter-l > * {
    width: calc(100% / 1 - 2rem - 0.01px); }
  [class*="-tiny-1"].has-gutter-xl > * {
    width: calc(100% / 1 - 4rem - 0.01px); }
  [class*="-tiny-2"] > * {
    width: calc(100% / 2 - 0.01px); }
  [class*="-tiny-2"].has-gutter > * {
    width: calc(100% / 2 - 1rem - 0.01px); }
  [class*="-tiny-2"].has-gutter-l > * {
    width: calc(100% / 2 - 2rem - 0.01px); }
  [class*="-tiny-2"].has-gutter-xl > * {
    width: calc(100% / 2 - 4rem - 0.01px); }
  [class*="-tiny-3"] > * {
    width: calc(100% / 3 - 0.01px); }
  [class*="-tiny-3"].has-gutter > * {
    width: calc(100% / 3 - 1rem - 0.01px); }
  [class*="-tiny-3"].has-gutter-l > * {
    width: calc(100% / 3 - 2rem - 0.01px); }
  [class*="-tiny-3"].has-gutter-xl > * {
    width: calc(100% / 3 - 4rem - 0.01px); }
  [class*="-tiny-4"] > * {
    width: calc(100% / 4 - 0.01px); }
  [class*="-tiny-4"].has-gutter > * {
    width: calc(100% / 4 - 1rem - 0.01px); }
  [class*="-tiny-4"].has-gutter-l > * {
    width: calc(100% / 4 - 2rem - 0.01px); }
  [class*="-tiny-4"].has-gutter-xl > * {
    width: calc(100% / 4 - 4rem - 0.01px); } }
