/*! http://alistapart.com/article/axiomatic-css-and-lobotomized-owls */

.container-compact,
.container {
    position: relative;
    overflow: hidden;
    padding: 1.5em;
}

.container *+* {
    margin-top: 1.5em;
    margin-bottom: 0;
}

.container-compact *+* {
    margin-top: 0.75em;
    margin-bottom: 0;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    margin-bottom: 0;
}

.container p>a,
.container-off>* {
    margin-top: 0;
}

.container *+._kill-space {
    margin-top: 1.5rem;
}


/* If you want to add different sizes,
please make -l -m -s -xs -xxs named versions */
