[class*="navbar"] {
	position: fixed;
}
.navbar-horizontal {
	width: 100vw;
}
.navbar-vertical {
	height: 100vh;
}

[class*="navigation"] {
    position: relative;
}

.navigation-bottom,
.navigation-top {
    top: 50%;
    transform: translateY(-50%);
}

.navigation-right,
.navigation-left {
    left: 50%;
    transform: translateX(-50%);
}

[class*="footer"] {
	position: relative;
	padding: var(--space-m);
	background-color: var(--neutral-light);
}