:root {
    --z-1: 10;
    --z-2: 20;
    --z-3: 30;
    --z-4: 40;
    --z-5: 50;
    --z-6: 60;
    --z-7: 70;
    --z-8: 80;
    --z-9: 90;
    --z-10: 100;
}


/* Every z-index declaration is done here

.doodle {
    z-index: var(--z-2);
}

*/
[class*="navbar"],
[class*="navigation"] {
    z-index: var(--z-3);
}
[class*="footer"] {
    z-index: var(--z-1);
}