._inert {
    animation: none !important;
}

@keyframes open {
    from {
        opacity: 0;
        height: 0;
        line-height: 0;
        color: transparent;
    }
    to {
        opacity: 1;
        height: auto;
        line-height: 1.5;
        color: auto;
    }
}

._an-open {
    animation: open 0.5s ease 1;
}

@keyframes close {
    from {
        opacity: 1;
        height: auto;
        line-height: 1.5;
        color: auto;
    }
    to {
        opacity: 0;
        height: 0;
        line-height: 0;
        color: transparent;
    }
}

._an-close {
    animation: close 0.5s ease 1;
}

@keyframes appear {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

._an-appear {
    animation: appear 0.5s ease 1;
}

@keyframes disappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

._an-disappear {
    animation: disappear 0.5s ease 1;
}

@keyframes appear-x {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

._an-appear-x {
    animation: appear-x 0.5s ease 1;
}

@keyframes disappear-x {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

._an-disappear-x {
    animation: disappear-x 0.5s ease 1;
}

@keyframes slideup {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

._an-slideup {
    animation: slideup 0.5s ease 1;
}

@keyframes slidedown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

._an-slidedown {
    animation: slidedown 0.5s ease 1;
}

@keyframes slideleft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

._an-slideleft {
    animation: slideleft 0.5s ease 1;
}

@keyframes slideright {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

._an-slideright {
    animation: slideright 0.5s ease 1;
}


/* https://codepen.io/WebSonick/pen/vjmgu */

@keyframes move-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 500px;
    }
}

._an-move-back {
    animation: move-back 0.5s ease 1;
}


/*! http://codepen.io/gxash/pen/QNzKoj */

@keyframes jump {
    0% {
        top: 0;
        transform: scale3d(1, 1, 1);
        border-radius: 100%;
        animation-timing-function: ease-in;
    }
    45% {
        transform: scale3d(1, 1, 1);
    }
    50% {
        top: 80%;
        animation-timing-function: ease-out;
        transform: scale3d(1.3, .8, 1);
    }
    55% {
        transform: scale3d(1, 1, 1);
    }
    60% {
        transform: scale3d(.8, 1.1, 1);
    }
    70% {
        transform: scale3d(.95, 1.05, 1);
    }
    72% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
        top: 0;
        border-radius: 100%;
    }
}

._an-jump {
    animation: jump 1s infinite;
}


/*! CSS-Only Bouncing Ball | By Rob Glazebrook | http://www.cssnewbie.com/pure-css-bouncing-ball/ */

@keyframes moveX2 {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 2rem);
    }
}

@keyframes moveY2 {
    from {
        top: 0
    }
    to {
        top: calc(100% - 2rem);
    }
}

@keyframes moveX6 {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 6rem);
    }
}

@keyframes moveY6 {
    from {
        top: 0;
    }
    to {
        top: calc(100% - 6rem);
    }
}

._an-pong2 {
    animation: moveX2 3.05s linear 0s infinite alternate, moveY2 3.4s linear 0s infinite alternate;
}

._an-pong6 {
    animation: moveX6 3.05s linear 0s infinite alternate, moveY6 3.4s linear 0s infinite alternate;
}
