/* Radius */

._square {
    border-radius: 0 !important;
}

._round {
    border-radius: 100% !important;
}

ul._unstyled {
    padding: var(--space-s);
    list-style: none;
    font-size: 0;
}

ul._unstyled>li {
    display: inline-block;
    vertical-align: middle;
    margin-right: var(--space-s);
    margin-bottom: var(--space-s);
    font-size: 1.6rem;
}


/*! www.KNACSS.com V6.0.5 (1er décembre 2016) @author: Alsacreations, Raphael Goetter | Licence WTFPL http://www.wtfpl.net/ */


/* invisible for all */

.is-hidden,
[hidden] {
    display: none !important;
}


/* hidden but not for an assistive technology like a screen reader, Yahoo! method */

.visually-hidden {
    position: absolute !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
}

.is-disabled,
[disabled] {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
