/**--- Display -------------------*/
._block { display: block !important; }
._inline { display: inline !important; }
._inline-block { display: inline-block !important; }
._table { display: table !important; table-layout: fixed; }
._row { display: table-row !important; }
._cell { display: table-cell !important; }
._caption { display: table-caption !important; }
._item { display: list-item !important; }
._floatr { float: right !important; }
._floatl { float: left !important; }
._clear { clear: both !important; }


/**--- Alignment -------------------*/
._align-top { vertical-align: top; }
._align-middle { vertical-align: middle; }
._align-bottom { vertical-align: bottom; }
._align-baseline { vertical-align: baseline; }

/**--- Flow -------------------*/
._bfc, /* Block Formatting Context Magic | https://www.alsacreations.com/astuce/lire/1543-le-contexte-de-formatage-block-en-css.html */
._underflow { overflow: hidden; }
._overflow { overflow: visible; }
._scroll { overflow: scroll; }
._scroll-h { overflow-x: scroll; }
._scroll-v { overflow-y: scroll; }

/**--- Position -------------------*/
._static { position: static !important; }
._relative { position: relative !important; }
._absolute { position: absolute !important; }
._fixed { position: fixed !important; }

/**--- Spaces -------------------*/
._br-line { white-space: pre-line !important; } /* preserve line breaks, ignore white spaces */
._br-wrap { white-space: pre-wrap !important; } /* preserve spaces and line breaks but wraps */

._kill-space { font-size: 0; } /* removes spaces between sized inline-blocks */
._kill-space [class*="icon"],
._kill-space .input-decorated {
	font-size: 1.6rem; /* resets original font-size */
} 