._center-flex {
    margin: auto !important;
}

._center-inline {
    text-align: center !important;
}

._center-block {
    margin-left: auto !important;
    margin-right: auto !important;
}

._center-cell {
    display: table-cell !important;
    vertical-align: middle !important;
}


/* Any :
 - declare a non-static position on element
 - to center in a container, declare container "relative" & element "absolute"
 */

._center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

._center-hor {
    left: 50%;
    transform: translateX(-50%);
}

._center-ver {
    top: 50%;
    transform: translateY(-50%);
}
