._co-text,
._co-dark { color: var(--basic-dark) !important; }
._co-background,
._co-light { color: var(--basic-light) !important; }

._bd-text,
._bd-dark { border-color: var(--basic-dark) !important; }
._bd-background,
._bd-light { border-color: var(--basic-light) !important; }

._bg-text,
._bg-dark { background-color: var(--basic-dark) !important; }
._bg-background,
._bg-light { background-color: var(--basic-light) !important; }


._co-primary-dark { color: var(--primary-dark) !important; }
._co-primary { color: var(--primary) !important; }
._co-primary-light { color: var(--primary-light) !important; }

._bd-primary-dark { border-color: var(--primary-dark) !important; }
._bd-primary { border-color: var(--primary) !important; }
._bd-primary-light { border-color: var(--primary-light) !important; }

._bg-primary { background-color: var(--primary) !important; }
._bg-primary { background-color: var(--primary) !important; }
._bg-primary-light { background-color: var(--primary-light) !important; }


._co-neutral-dark { color: var(--neutral-dark) !important; }
._co-neutral { color: var(--neutral) !important; }
._co-neutral-light { color: var(--neutral-light) !important; }

._bd-neutral-dark { border-color: var(--neutral-dark) !important; }
._bd-neutral { border-color: var(--neutral) !important; }
._bd-neutral-light { border-color: var(--neutral-light) !important; }

._bg-neutral-dark { background-color: var(--neutral-dark) !important; }
._bg-neutral { background-color: var(--neutral) !important; }
._bg-neutral-light { background-color: var(--neutral-light) !important; }

._co-secondary-dark { color: var(--secondary-dark) !important; }
._co-secondary { color: var(--secondary) !important; }
._co-secondary-light { color: var(--secondary-light) !important; }

._bd-secondary-dark { border-color: var(--secondary-dark) !important; }
._bd-secondary { border-color: var(--secondary) !important; }
._bd-secondary-light { border-color: var(--secondary-light) !important; }

._bg-secondary-dark { background-color: var(--secondary-dark) !important; }
._bg-secondary { background-color: var(--secondary) !important; }
._bg-secondary-light { background-color: var(--secondary-light) !important; }

._co-heavy-dark { color: var(--heavy-dark) !important; }
._co-heavy { color: var(--heavy) !important; }
._co-heavy-light { color: var(--heavy-light) !important; }

._bd-heavy-dark { border-color: var(--heavy-dark) !important; }
._bd-heavy { border-color: var(--heavy) !important; }
._bd-heavy-light { border-color: var(--heavy-light) !important; }

._bg-heavy-dark { background-color: var(--heavy-dark) !important; }
._bg-heavy { background-color: var(--heavy) !important; }
._bg-heavy-light { background-color: var(--heavy-light) !important; }

._co-accent-dark { color: var(--accent-dark) !important; }
._co-accent { color: var(--accent) !important; }
._co-accent-light { color: var(--accent-light) !important; }

._bd-accent-dark { border-color: var(--accent-dark) !important; }
._bd-accent { border-color: var(--accent) !important; }
._bd-accent-light { border-color: var(--accent-light) !important; }

._bg-accent-dark { background-color: var(--accent-dark) !important; }
._bg-accent { background-color: var(--accent) !important; }
._bg-accent-light { background-color: var(--accent-light) !important; }

._co-mild-dark { color: var(--mild-dark) !important; }
._co-mild { color: var(--mild) !important; }
._co-mild-light { color: var(--mild-light) !important; }

._bd-mild-dark { border-color: var(--mild-dark) !important; }
._bd-mild { border-color: var(--mild) !important; }
._bd-mild-light { border-color: var(--mild-light) !important; }

._bg-mild-dark { background-color: var(--mild-dark) !important; }
._bg-mild { background-color: var(--mild) !important; }
._bg-mild-light { background-color: var(--mild-light) !important; }