._cur-default { cursor: default; }
._cur-point { cursor: pointer; }
._cur-help { cursor: help; }
._cur-text { cursor: text; }
._cur-progress { cursor: progress; }
._cur-wait { cursor: wait; }
._cur-forbid { cursor: not-allowed; }
