
/**--- Alignement -------------------*/
._v-start { align-items: flex-start; }
._v-center { align-items: center; }
._v-end { align-items: flex-end; }
._v-stretch { align-items: flex-stretch; }

._h-start { justify-content: flex-start; }
._h-center { justify-content: center; }
._h-end { justify-content: flex-end; }

/* TODO https://css-tricks.com/almanac/properties/a/align-content/ */


/**--- Repartition -------------------*/
._v-between { align-content: space-between; }
._v-around { align-content: space-around; }
._h-between { justify-content: space-between; }
._h-around { justify-content: space-around; }


/**--- Flow -------------------*/
._oneline { flex-flow: row nowrap; }
._multiline { flex-flow: row wrap; }
._multiline-reverse { flex-flow: row wrap-reverse; }
._multiline-mirror { flex-flow: row-reverse wrap-reverse; }

._onecol { flex-flow: column nowrap; }
._multicol { flex-flow: column wrap; }
._multicol-reverse { flex-flow: column wrap-reverse; }
._multicol-mirror { flex-flow: column-reverse wrap-reverse; }