._ft-light { font-weight: 200 !important; }
._ft-regular { font-weight: 400 !important; }
._ft-bold { font-weight: 700 !important; }

._ft-normal { font-style: normal !important; text-decoration: none; font-variant: none; text-transform: none; }
._ft-oblique { font-style: italic !important; }

._ft-underline { text-decoration: underline !important; }
._ft-overline { text-decoration: overline !important; }
._ft-through { text-decoration: line-through !important; }

._ft-lowercase { text-transform: lowercase !important; }
._ft-uppercase { text-transform: uppercase !important; }
._ft-caps { font-variant: small-caps !important; }

._ft-left { text-align: left!important; }
._ft-center { text-align: center!important; }
._ft-right { text-align: right!important; }
._ft-justify { text-align: justify!important; }

._ft-h1 { font: var(--font-primary) !important; }
._ft-h2 { font: var(--font-secondary) !important; }
._ft-h3 { font: var(--font-tertiary) !important; }

._ft-l { font-size: 2.0rem !important;  }
._ft-m { font-size: 1.8rem !important;  }
._ft-s { font-size: 1.6rem !important;  }
._ft-xs { font-size: 1.4rem !important;  }
._ft-xxs { font-size: 1.2rem !important;  }

._ft-quiet { color: rgba(0,0,0,0.87); }
._ft-quieter { color: rgba(0,0,0,0.67); }