._no-ma { margin: 0 !important; }
._no-mat { margin-top: 0 !important; }
._no-mal { margin-left: 0 !important; }
._no-mar { margin-right: 0 !important; }
._no-mab { margin-bottom: 0 !important; }
/* vertical / horizontal */
._no-mav { margin-top: 0 !important; margin-bottom: 0 !important; }
._no-mah { margin-left: 0 !important; margin-right: 0 !important; }

._ma-l { margin: var(--space-l) !important; }
._mat-l { margin-top: var(--space-l) !important; }
._mal-l { margin-left: var(--space-l) !important; }
._mar-l { margin-right: var(--space-l) !important; }
._mab-l { margin-bottom: var(--space-l) !important; }
/* vertical / horizontal */
._mav-l { margin-top: var(--space-l) !important; margin-bottom: var(--space-l) !important; }
._mah-l { margin-left: var(--space-l) !important; margin-right: var(--space-l) !important; }

._ma-m { margin: var(--space-m) !important; }
._mat-m { margin-top: var(--space-m) !important; }
._mal-m { margin-left: var(--space-m) !important; }
._mar-m { margin-right: var(--space-m) !important; }
._mab-m { margin-bottom: var(--space-m) !important; }
/* vertical / horizontal */
._mav-m { margin-top: var(--space-m) !important; margin-bottom: var(--space-m) !important; }
._mah-m { margin-left: var(--space-m) !important; margin-right: var(--space-m) !important; }

._ma-s { margin: var(--space-s) !important; }
._mat-s { margin-top: var(--space-s) !important; }
._mal-s { margin-left: var(--space-s) !important; }
._mar-s { margin-right: var(--space-s) !important; }
._mab-s { margin-bottom: var(--space-s) !important; }
/* vertical / horizontal */
._mav-s { margin-top: var(--space-s) !important; margin-bottom: var(--space-s) !important; }
._mah-s { margin-left: var(--space-s) !important; margin-right: var(--space-s) !important; }

._ma-xs { margin: var(--space-xs) !important; }
._mat-xs { margin-top: var(--space-xs) !important; }
._mal-xs { margin-left: var(--space-xs) !important; }
._mar-xs { margin-right: var(--space-xs) !important; }
._mab-xs { margin-bottom: var(--space-xs) !important; }
/* vertical / horizontal */
._mav-xs { margin-top: var(--space-s) !important; margin-bottom: var(--space-xs) !important; }
._mah-xs { margin-left: var(--space-s) !important; margin-right: var(--space-xs) !important; }

._ma-xxs { margin: var(--space-xxs) !important; }
._mat-xxs { margin-top: var(--space-xxs) !important; }
._mal-xxs { margin-left: var(--space-xxs) !important; }
._mar-xxs { margin-right: var(--space-xxs) !important; }
._mab-xxs { margin-bottom: var(--space-xxs) !important; }
/* vertical / horizontal */
._mav-xxs { margin-top: var(--space-s) !important; margin-bottom: var(--space-xxs) !important; }
._mah-xxs { margin-left: var(--space-s) !important; margin-right: var(--space-xxs) !important; }
