._no-pa { padding: 0 !important; }
._no-pat { padding-top: 0 !important; }
._no-pal { padding-left: 0 !important; }
._no-par { padding-right: 0 !important; }
._no-pab { padding-bottom: 0 !important; }
/* vertical / horizontal */
._no-pav { padding-top: 0 !important; padding-bottom: 0 !important; }
._no-pah { padding-left: 0 !important; padding-right: 0 !important; }

._pa-l { padding: var(--space-l) !important; }
._pat-l { padding-top: var(--space-l) !important; }
._pal-l { padding-left: var(--space-l) !important; }
._par-l { padding-right: var(--space-l) !important; }
._pab-l { padding-bottom: var(--space-l) !important; }
/* vertical / horizontal */
._pav-l { padding-top: var(--space-l) !important; padding-bottom: var(--space-l) !important; }
._pah-l { padding-left: var(--space-l) !important; padding-right: var(--space-l) !important; }

._pa-m { padding: var(--space-m) !important; }
._pat-m { padding-top: var(--space-m) !important; }
._pal-m { padding-left: var(--space-m) !important; }
._par-m { padding-right: var(--space-m) !important; }
._pab-m { padding-bottom: var(--space-m) !important; }
/* vertical / horizontal */
._pav-m { padding-top: var(--space-m) !important; padding-bottom: var(--space-m) !important; }
._pah-m { padding-left: var(--space-m) !important; padding-right: var(--space-m) !important; }

._pa-s { padding: var(--space-s) !important; }
._pat-s { padding-top: var(--space-s) !important; }
._pal-s { padding-left: var(--space-s) !important; }
._par-s { padding-right: var(--space-s) !important; }
._pab-s { padding-bottom: var(--space-s) !important; }
/* vertical / horizontal */
._pav-s { padding-top: var(--space-s) !important; padding-bottom: var(--space-s) !important; }
._pah-s { padding-left: var(--space-s) !important; padding-right: var(--space-s) !important; }

._pa-xs { padding: var(--space-xs) !important; }
._pat-xs { padding-top: var(--space-xs) !important; }
._pal-xs { padding-left: var(--space-xs) !important; }
._par-xs { padding-right: var(--space-xs) !important; }
._pab-xs { padding-bottom: var(--space-xs) !important; }
/* vertical / horizontal */
._pav-xs { padding-top: var(--space-s) !important; padding-bottom: var(--space-xs) !important; }
._pah-xs { padding-left: var(--space-s) !important; padding-right: var(--space-xs) !important; }

._pa-xxs { padding: var(--space-xxs) !important; }
._pat-xxs { padding-top: var(--space-xxs) !important; }
._pal-xxs { padding-left: var(--space-xxs) !important; }
._par-xxs { padding-right: var(--space-xxs) !important; }
._pab-xxs { padding-bottom: var(--space-xxs) !important; }
/* vertical / horizontal */
._pav-xxs { padding-top: var(--space-s) !important; padding-bottom: var(--space-xxs) !important; }
._pah-xxs { padding-left: var(--space-s) !important; padding-right: var(--space-xxs) !important; }