._no-shadow {
    box-shadow: none !important;
}
._paper {
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
._high {
	box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}
._higher {
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);
}
._highest {
	box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
}

._embossed {
	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,.2), inset 0 1px 1px 0 rgba(0,0,0,.14), inset 0 2px 1px -1px rgba(0,0,0,.12);
}
._deep {
	box-shadow: inset 0 1px 8px 0 rgba(0,0,0,.2), inset 0 3px 4px 0 rgba(0,0,0,.14), inset 0 3px 3px -2px rgba(0,0,0,.12);
}
._deeper {
	box-shadow: inset 0 3px 5px -1px rgba(0,0,0,.2), inset 0 5px 8px 0 rgba(0,0,0,.14), inset 0 1px 14px 0 rgba(0,0,0,.12);
}
._deepest {
	box-shadow: inset 0 4px 5px -2px rgba(0,0,0,.2), inset 0 7px 10px 1px rgba(0,0,0,.14), inset 0 2px 16px 1px rgba(0,0,0,.12);
}