._w-fifth { width: calc(100% / 5); }
._w-quarter { width: calc(100% / 4); }
._w-third { width: calc(100% / 3); }
._w-half { width: calc(100% / 2); }
._w-full { width: 100%; }
._w-viewport { width: 100vw; }
._h-viewport { min-height: 100vh; }