.accordions {
    position: relative;
    overflow: hidden;
}
.accordions * + * {
    margin-top: 0;
}
.accordions [type=checkbox] + label,
.accordions [type=radio] + label {
	margin-right: 0;
}
.accordions [type=checkbox] + label::before,
.accordions [type=radio] + label::before {
	content: none;
}
.accordions > input[type="checkbox"],
.accordions > input[type="radio"] {
    display: none;
}

.accordion {
	display: block;
	margin-bottom: -1px;
    padding: 0.5em 1.5em;
    color: var(--neutral-dark);
    border: 1px solid var(--neutral-light);
}
.accordion ~ .accordion {
	margin-top: -1px;
}
:checked + .accordion {
	font-weight: bold;
	border-color: var(--basic-dark);
}

.accordion-content {
    height: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 1.5em;
    background: var(--basic-light);
    border: 1px solid var(--neutral-light);
	border-top-width: 0;
	transition: all 0.2s linear;
}
:checked + label + .accordion-content {
    height: auto;
    transform: scaleY(1);
    padding: 1.5em;
	border-color: var(--basic-dark); 
    border-top-width: 1px;
	transition: all 0.3s linear;
}
:checked + label + .accordion-content + * + label {
	border-top-color: var(--basic-dark);
}

.accordion {
	position: relative;
}
.accordion::after {
	content: "keyboard_arrow_down";
	position: absolute;
	top: 50%; right: 1.4rem;
	transform: translateY(-50%);
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /* Preferred icon size */
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
:checked + .accordion::after {
	content: "keyboard_arrow_up";
}