a[class*="button"],
a[class*="button"]:visited,
[class*="button"] {
    cursor: pointer;
    display: inline-block;
    padding: var(--space-xxs) var(--space-s);
    text-decoration: none !important;
    color: var(--basic-dark);
    border: 1px solid transparent;
    box-shadow: 0 0 0 transparent;
    transition: all 0.1s ease-in;
    transform: translate(0, 0);
}

a[class*="button"]::after {
    content: none;
}

a[class*="button"]:hover,
[class*="button"]:hover,
a[class*="button"]:focus,
[class*="button"]:focus {
    transform: translate(-1px, -2px);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
}

a[class*="button"]:disabled,
[class*="button"]:disabled {
    color: var(--neutral-dark);
    border: 1px solid var(--neutral-dark);
    background: none;
}

a[class*="button"]:active,
a[class*="button"]:focus,
[class*="button"]:active,
[class*="button"]:focus {
    outline: none;
    border: 1px solid;
}

a[class*="button"]:active,
[class*="button"]:active {
    color: var(--primary-dark);
    background: var(--basic-light) !important;
    transform: translate(0, 0) !important;
}


/* Styles */

a.button:visited,
a.button,
.button {
    color: var(--basic-light);
    background-color: var(--basic-dark);
}
a.button:focus {
    border-color: var(--primary);
}
a.button:active {
    color: var(--basic-dark);
}

a.button-primary:visited,
a.button-primary,
.button-primary {
    background-color: var(--primary);
}

a.button-neutral:visited,
a.button-neutral,
.button-neutral {
    background-color: var(--neutral);
}

a.button-neutral:active {
    color: var(--neutral-dark);
}

a.button-secondary:visited,
a.button-secondary,
.button-secondary {
    background-color: var(--secondary);
}

a.button-secondary:active {
    color: var(--secondary-dark);
}

a.button-heavy:visited,
a.button-heavy,
.button-heavy {
    background-color: var(--heavy);
}

a.button-heavy:active {
    color: var(--heavy-dark);
}

a.button-accent:visited,
a.button-accent,
.button-accent {
    background-color: var(--accent);
}

a.button-accent:active {
    color: var(--accent-dark);
}

a.button-mild:visited,
a.button-mild,
.button-mild {
    background-color: var(--mild);
}

a.button-mild:active {
    color: var(--mild-dark);
}


/* Sizes */

[class*="button"].size-l {
    padding: var(--space-m) var(--space-l);
    font-size: 2.0rem;
}

[class*="button"].size-m {
    padding: var(--space-s) var(--space-m);
    font-size: 1.8rem;
}

[class*="button"].size-s {
    padding: var(--space-xs) var(--space-s);
    font-size: 1.6rem;
}

[class*="button"].size-xs {
    padding: var(--space-xxs) var(--space-xs);
    font-size: 1.4rem;
}

[class*="button"].size-xxs {
    padding: var(--space-micro) var(--space-xxs);
    font-size: 1.2rem;
}

.button-round.size-l {
    padding: var(--space-l);
    font-size: 2.0rem;
}
.button-round.size-m {
    padding: var(--space-m);
    font-size: 1.8rem;
}
.button-round.size-s {
    padding: var(--space-s);
    font-size: 1.6rem;
}
.button-round.size-xs {
    padding: var(--space-xs);
    font-size: 1.4rem;
}
.button-round.size-xxs {
    padding: var(--space-xxs);
    font-size: 1.2rem;
}


/* Icons inside a button */

[class*="button"]>[class*="icon"]:first-child {
    margin-right: 0.5em;
}

[class*="button"]>[class*="icon"]:last-child {
    margin-top: 0;
    margin-left: 0.5em;
}

[class*="button"]>[class*="icon"]:only-child {
    margin: 0 0.25em;
}

/* Round button for icons */
a.button-round,
.button-round {
    display: inline-block;
    padding: 1.1rem 1.2rem;
    border-radius: 100% !important;
}

a.button-round:focus,
.button-round:focus {
    outline: var(--primary);
}