.card {
    position: relative;
    overflow: hidden;
    background-color: var(--basic-light);
    border-radius: 2px;
}

.card-menu {
    position: absolute;
    z-index: 1;
    right: 1.6rem;
    top: 1.6rem;
}

.card-title {
    overflow: hidden;
    width: 100%;
    padding: 1.6rem;
    color: var(--basic-dark);
}

.card-title>h1,
.card-title>h2,
.card-title>h3,
.card-title>h4,
.card-title>h5,
.card-title>h6 {
    margin: 0;
    font-size: 2.4rem;
    line-height: normal;
}

.card-title>img {
    position: relative;
    z-index: 0;
    transform: scale(1.2);
}

.card-text {
    overflow: hidden;
    width: 90%;
    padding: 1.6rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--neutral-dark);
}

.card-menu+.card-text {
    margin-top: 1.6rem;
    width: calc(90% - 3.2rem);
}

.card-actions {
    width: 100%;
    padding: .8rem;
    font-size: 1.6rem;
    background-color: transparent;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.card-actions [class*="button"] {
    margin-left: 0;
}

.card-actions [class*="button"]:last-child {
    margin-right: 0;
}
