.dialog {
	overflow: auto;
	position: fixed;
    top: 50%; left: 50%; right: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: fit-content;
    height: fit-content;
    max-height: 90vh;
    padding: 0;
    background: #FFF;
    border: none;
    box-shadow: 0 7px 9px -4px rgba(0,0,0,.2), 0 14px 21px 2px rgba(0,0,0,.14), 0 5px 26px 4px rgba(0,0,0,.12);
}

.dialog[open] {
    z-index: 4;
}

.dialog-title {
	margin-bottom: 0;
	padding: 0.5em 1em;
    font-size: 2.4rem;
    border-bottom: 1px solid #111;
}

.dialog-content {
	padding: 0.5em 3em;
}

.dialog-actions {
	padding: 0.5em 1em;
    text-align: right;
}
.dialog-actions [class*="button"] {
	padding: 1rem 1.5rem;
}