/* Inputs decorated by an icon */

.input-decorated {
    position: relative;
    display: inline-block;
    vertical-align: baseline;
}

.input-decorated>* {
    margin-top: 0 !important;
}

.input-decorated>[class*="icon"] {
    position: absolute;
    top: 50%;
    width: 1.6rem;
    transform: translateY(-50%);
}

.input-decorated>[class*="icon"]:first-child {
    left: 0.8rem;
}

.input-decorated>[class*="icon"]:last-child {
    right: 0.8rem;
}

.input-decorated>select,
.input-decorated>input {
    width: 100%;
    padding-left: 3.3rem;
}

.input-decorated>select:focus,
.input-decorated>input:focus {
    padding-left: calc(var(--space-s) + 2rem);
}
