a.link {
    cursor: pointer;
    display: inline-block;
    padding: var(--space-xxs) var(--space-s);
    text-decoration: none !important;
    color: var(--basic-dark);
    background-color: transparent;
    border-radius: 25%;
    transition: all 0.1s ease-in;
}
a.link::after {
    content: none;
}

a.link:hover {
    background-color: var(--neutral-light);
}

a.link:disabled {
    color: var(--neutral-dark);
}

a.link:hover,
a.link:focus {
    border-radius: 0;
}

a.link:active,
a.link:focus {
    outline: none;
    background-color: var(--primary-light);
}