[class*="message"] {
    padding: var(--space-xs) var(--space-s);
    color: var(--basic-dark);
    border: 2px dotted rgba(0,0,0,0.5);
    border-radius: 1px;
    animation: open 0.5s ease-out 0s 1;
}

[class*="message"].out {
    opacity: 0;
    height: 0;
    line-height: 0;
    color: transparent;
    animation: close 0.5s ease-out 0s 1;
}

.message {
    color: var(--basic-light);
    background-color: var(--basic-dark);
    border: 2px dotted rgba(255,255,255,0.5);
}

.message-primary {
    background-color: var(--primary-light);
}

.message-neutral {
    background-color: var(--neutral-light);
}

.message-secondary {
    background-color: var(--secondary-light);
}

.message-heavy {
    background-color: var(--heavy-light);
}

.message-accent {
    background-color: var(--accent-light);
}

.message-mild {
    background-color: var(--mild-light);
}
