[class*="switch"] {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 5rem;
    height: 2.5rem;
    margin-right: 0.5em;
}

[class*="switch"]>* {
    margin: 0;
}

[class*="switch"] input {
    visibility: hidden;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

[class*="switch"] :last-child::before,
[class*="switch"] :last-child::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
}

[class*="switch"] :last-child::before {
    width: 5rem;
    height: 2.5rem;
    transform: translateY(-50%);
    background-color: var(--neutral-light);
    border-radius: 2.5rem;
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

[class*="switch"] :last-child::after {
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    color: var(--primary);
    transform: translate(0.3rem, -50%);
    transition: all 0.4s ease;
    background-color: var(--basic-light);
    border-radius: 100%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    [class*="switch"] :last-child::after {
        line-height: 1.8;
    }
}

[class*="switch"] :checked+ :last-child::before {
    background-color: var(--primary);
}

[class*="switch"] :checked+ :last-child::after {
    content: "check";
    transform: translate(2.8rem, -50%);
}


/* Styles */

.switch-neutral :last-child::after {
    color: var(--neutral-dark);
}

.switch-neutral :checked+ :last-child::before {
    background-color: var(--neutral-dark);
}

.switch-secondary :last-child::after {
    color: var(--secondary);
}

.switch-secondary :checked+ :last-child::before {
    background-color: var(--secondary);
}

.switch-heavy :last-child::after {
    color: var(--heavy);
}

.switch-heavy :checked+ :last-child::before {
    background-color: var(--heavy);
}

.switch-accent :last-child::after {
    color: var(--accent);
}

.switch-accent :checked+ :last-child::before {
    background-color: var(--accent);
}

.switch-mild :last-child::after {
    color: var(--mild);
}

.switch-mild :checked+ :last-child::before {
    background-color: var(--mild);
}
