/* row hover effect */

table.row-effect tr:hover td {
    color: var(--basic-dark) !important;
    background-color: var(--primary-light);
}


/* alternate line colors */

table.table-odd tfoot,
table.table-odd th {
    background-color: var(--basic-light);
}

table.table-odd tbody tr:nth-child(even) {
    background-color: var(--basic-light);
}

table.table-odd tbody tr:nth-child(odd) {
    background-color: var(--neutral-light);
}

table.table-odd td[rowspan] {
    background-color: color(var(--neutral-light) tint(-50%));
}


/* table strong */

table.table-strong th {
    color: var(--basic-light);
    background-color: var(--basic-dark);
}

table.table-strong tfoot {
    font-weight: bold;
    color: var(--basic-light);
    background-color: var(--neutral-dark);
}
/* table light */

table.table-light th {
    color: var(--neutral-dark);
    background-color: var(--basic-light);
}

table.table-light tfoot {
    color: var(--neutral-dark);
    background-color: var(--basic-light);
}
