.tabs {
    position: relative;
    overflow: hidden;
    padding-top: 6px;
}
.tabs * + * {
    margin-top: 0;
}
.tabs [type=radio] + label {
	margin-right: 0;
}
.tabs [type=radio] + label::before {
	content: none;
}
.tabs > input[type="radio"] {
    display: none;
}

.tab {
    position: relative;
    z-index: 0;
    margin-left: -1px;
    padding: 0.5em 1.5em;
    color: var(--neutral-dark);
    border: 1px solid var(--neutral-light);
    border-bottom-width: 0;
    background: var(--neutral-light);
    transform: translateY(3px);
    transition: transform 0.2s ease;
}
.tab:first-of-type {
	margin-left: 0;
}
.tab:hover,
:checked + .tab {
    transform: translateY(0px) !important;
}
:checked + .tab {
    z-index: 2;
    font-weight: bold;
    color: var(--basic-dark);
    border-color: var(--basic-dark); 
    background: var(--basic-light);
}

.tab-content {
    position: relative;
    z-index: 1;
    display: none;
    float: right;
    width: 100%;
    margin-top: 4px;
    padding: 1.5em;
    background: var(--basic-light);
    border: 1px solid var(--basic-dark);
}
:checked + label + .tab-content {
    display: block;
}