[class*="toast"] {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: var(--space-xs) var(--space-s);
    color: var(--basic-dark);
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
    transform: translate(0);
    animation: slideup 0.3s ease-out 0s 1;
}

[class*="toast"].out {
    transform: translateY(150%);
    animation: slidedown 0.3s ease-in 0s 1;
}

.toast {
    color: var(--basic-light);
    background-color: var(--basic-dark);
}

.toast-primary {
    background-color: var(--primary);
}

.toast-neutral {
    background-color: var(--neutral);
}

.toast-secondary {
    background-color: var(--secondary);
}

.toast-heavy {
    background-color: var(--heavy);
}

.toast-accent {
    background-color: var(--accent);
}

.toast-mild {
    background-color: var(--mild);
}
