/*! www.KNACSS.com V6.0.5 (1er décembre 2016) @author: Alsacreations, Raphael Goetter | Licence WTFPL http://www.wtfpl.net/ */

html {
    /* set base font-size to equiv "10px", which is adapted to rem unit */
    font-size: 62.5%;
    /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
    /* thanks to @guardian, @victorbritopro and @eQRoeil */
    font-size: calc(1em * 0.625);
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    /* switching to border-box model for all elements */
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--basic-dark);
    background-color: var(--basic-light);
}
