/* webkit, opera, IE9 */

::selection {
    color: var(--basic-light);
    background: var(--primary-dark);
}


/* mozilla firefox */

::-moz-selection {
    color: var(--basic-light);
    background: var(--primary-dark));
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

h1 {
    font: var(--font-primary);
}

h2 {
    font: var(--font-secondary);
}

h3 {
    font: var(--font-tertiary);
}

h4 {
    font: var(--font-quaternary);
}

h5 {
    font: var(--font-quinquenary);
}

h6 {
    font: var(--font-sextenary);
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    position: relative;
    display: inline-block;
    color: var(--basic-link);
    text-decoration: none;
    transition: all 0.1s linear;
}

a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--basic-link);
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

a:visited {
    color: var(--basic-dark);
}

a:visited::after {
    background-color: var(--basic-dark);
}

a:focus,
a:hover {
    color: var(--basic-link);
}

a:focus {
    outline: none;
}

a:focus::after {
    background-color: var(--basic-link);
}

a:hover::after {
    width: 0;
}

a:active {
    color: var(--basic-dark);
    background-color: var(--mild-light);
}

a:active::after {
    background-color: var(--mild-light);
}

mark {
    color: var(--basic-dark);
    background-color: var(--primary-light);
}

mark+mark {
    background-color: var(--accent-light);
}

mark+mark+mark {
    background-color: var(--mild-light);
}

mark+mark+mark+mark {
    background-color: var(--heavy-light);
}

mark+mark+mark+mark+mark {
    background-color: var(--secondary-light);
}
