/**--- Placeholders -------------------*/

::-webkit-input-placeholder {
    color: var(--neutral);
    font-style: italic;
    transform: translateX(0);
    transition: all 0.2s ease-out;
}

::-moz-placeholder {
    color: var(--neutral);
    font-style: italic;
    transform: translateX(0);
    transition: all 0.2s ease-out;
}


/* firefox 19+ */

:-ms-input-placeholder {
    color: var(--neutral);
    font-style: italic;
    transform: translateX(0);
    transition: all 0.2s ease-out;
}


/* ie */

input:-moz-placeholder {
    color: var(--neutral);
    font-style: italic;
    transform: translateX(0);
    transition: all 0.2s ease-out;
}

:disabled::-webkit-input-placeholder {
    font-size: 1.2rem;
}

:disabled::-moz-placeholder {
    font-size: 1.2rem;
}


/* firefox 19+ */

:disabled:-ms-input-placeholder {
    font-size: 1.2rem;
}


/* ie */

input:disabled:-moz-placeholder {
    font-size: 1.2rem;
}

:focus::-webkit-input-placeholder {
    color: var(--neutral-light);
    font-size: 1.2rem;
    transform: translateX(var(--space-s));
}

:focus::-moz-placeholder {
    color: var(--neutral-light);
    font-size: 1.2rem;
    transform: translateX(var(--space-s));
}


/* firefox 19+ */

:focus:-ms-input-placeholder {
    color: var(--neutral-light);
    font-size: 1.2rem;
    transform: translateX(var(--space-s));
}


/* ie */

input:focus:-moz-placeholder {
    color: var(--neutral-light);
    font-size: 1.2rem;
    transform: translateX(var(--space-s));
}
