hr {
    display: block;
    margin: 1.5em auto;
    width: 99%;
    height: 1px;
    background-color: var(--neutral-light);
    border: none;
}

code {
    display: block;
    padding: 1.5em;
    font-size: 1.2rem;
    color: var(--primary-light);
    background-color: rgba(17, 17, 17, 0.8);
    border-left: 8px solid var(--neutral);
}
