/**--- Global -------------------*/

button,
select,
input,
textarea {
    font-size: 1.4rem;
    transition: all 0.2s ease-out;
}

fieldset,
textarea {
    padding: var(--space-xs);
    border: 1px solid var(--neutral-dark);
}

fieldset {
    padding-bottom: calc(var(--space-xs) * 2);
}

legend {
    font-weight: 700;
}


/**--- Textareas -------------------*/

textarea {
    overflow: hidden;
}

textarea:disabled {
    color: var(--neutral);
    border: 1px dotted var(--neutral);
    background: none;
}

textarea:focus {
    border-color: var(--neutral-light);
}


/**--- Inputs -------------------*/

select,
input[list],
[type="text"],
[type="password"],
[type="email"],
[type="tel"],
[type="search"],
[type="url"],
[type="number"],
[type="time"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="week"] {
    margin: 0;
    padding: var(--space-xs) 0;
    border: none;
    border-bottom: 1px solid var(--neutral-dark);
}

select:disabled,
input[list]:disabled,
[type="text"]:disabled,
[type="password"]:disabled,
[type="email"]:disabled,
[type="tel"]:disabled,
[type="search"]:disabled,
[type="url"]:disabled,
[type="number"]:disabled,
[type="time"]:disabled,
[type="date"]:disabled,
[type="datetime-local"]:disabled,
[type="month"]:disabled,
[type="week"]:disabled {
    color: var(--neutral);
    border-bottom: 1px dotted var(--neutral);
    background: none;
    cursor: not-allowed;
}

textarea:focus,
select:focus,
input[list]:focus,
[type="text"]:focus,
[type="password"]:focus,
[type="email"]:focus,
[type="tel"]:focus,
[type="search"]:focus,
[type="url"]:focus,
[type="number"]:focus,
[type="time"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="week"]:focus {
    padding-left: var(--space-s);
    outline: none;
    border-bottom: 1px solid var(--primary);
    box-shadow: inset 1px 1px 3px var(--neutral-light);
}


/**--- Selects -------------------*/

select {
    -webkit-appearance: button;
    margin-right: 0.5em;
    padding-right: 30px;
    background-image: url('assets/select.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}

select option[value=""][disabled] {
    display: none;
}

select[multiple] {
    display: inline-block;
    vertical-align: bottom;
    padding: 0;
    background: none;
}

select[multiple][disabled] {
    overflow: hidden;
    border-right: 10px solid rgba(0, 0, 0, 0.15);
}

select[multiple] option {
    margin: 0;
    padding: 5px 10px;
}

select[multiple]:focus option {
    padding-left: var(--space-s);
}


/**--- Buttons -------------------*/

button,
[type="button"],
[type="submit"],
[type="reset"] {
    cursor: pointer;
    margin: 0.5em;
    padding: var(--space-xxs) var(--space-s);
    color: var(--basic-dark);
    background-color: var(--primary);
    border: 1px solid transparent;
    box-shadow: 0 0 0 transparent;
    transition: all 0.1s ease-in;
    transform: translate(0, 0);
}

button:hover,
button:focus,
[type="button"]:hover,
[type="button"]:focus,
[type="submit"]:hover,
[type="submit"]:focus,
[type="reset"]:hover,
[type="reset"]:focus {
    transform: translate(-1px, -2px);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
}

button:disabled,
[type="button"]:disabled,
[type="submit"]:disabled,
[type="reset"]:disabled {
    color: var(--neutral-dark);
    border: 1px solid var(--neutral-dark);
    background: none;
}

button:focus,
button:active,
[type="button"]:focus,
[type="button"]:active,
[type="submit"]:focus,
[type="submit"]:active,
[type="reset"]:focus,
[type="reset"]:active {
    outline: none;
    border: 1px solid;
}

button:active,
[type="button"]:active,
[type="submit"]:active,
[type="reset"]:active {
    color: var(--primary-dark);
    background: var(--basic-light) !important;
    transform: translate(0, 0) !important;
}


/**--- Buttons : decorated -------------------*/

[type="button"]::before,
[type="reset"]::before,
[type="submit"]::before {
    vertical-align: text-bottom;
    margin-right: 0.5em;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/*-- Pictography -----*/

[type="button"]::before {
    content: "chevron_right";
}

[type="submit"]::before {
    content: "done";
}

[type="reset"]::before {
    content: "clear";
}


/*-- Color -----*/

[type="submit"] {
    background-color: var(--mild);
}

[type="submit"]:active {
    color: var(--mild-dark);
}

[type="reset"] {
    background-color: var(--neutral);
}

[type="reset"]:active {
    color: var(--neutral-dark);
}


/*-- Color: overriden -----*/

[type="submit"][class*="_bg-"]:focus,
[type="reset"][class*="_bg-"]:focus {
    color: var(--basic-dark);
}


/**--- Boxes -------------------*/

[type="checkbox"]:disabled+label::before,
[type="radio"]:disabled+label::before,
[type="checkbox"]:disabled+label,
[type="radio"]:disabled+label {
    cursor: default;
    pointer-events: none;
    color: var(--neutral-light);
    border-color: var(--neutral-light);
}

[type="radio"],
[type="checkbox"] {
    margin: 0;
    margin-right: 0.5em;
    vertical-align: middle;
    visibility: hidden;
    width: 1.6rem;
    height: 1.6rem;
}

[type="radio"]+label,
[type="checkbox"]+label {
    position: relative;
    vertical-align: middle;
    margin-right: 0.5em;
}

[type="radio"]+label::before,
[type="checkbox"]+label::before {
    content: "";
    cursor: pointer;
    position: absolute;
    left: -2.5rem;
    bottom: 0;
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    color: var(--basic-light);
    border: 1px solid var(--neutral);
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

[type="radio"]+label::before {
    border-radius: 100%;
}

[type="checkbox"]:checked+label::before,
[type="radio"]:checked+label::before {
    color: var(--primary);
    border-color: var(--primary);
}

[type="radio"]:checked+label::before {
    box-shadow: inset 0 0 0 5px var(--basic-light);
    background-color: var(--primary);
}

[type="checkbox"]:checked+label::before {
    content: "check";
    font-size: 1.4rem;
}

[type="checkbox"]:checked:disabled+label::before,
[type="radio"]:checked:disabled+label::before {
    color: var(--neutral-light);
    border-color: var(--neutral-light);
}

[type="radio"]:disabled+label::before,
[type="radio"]:checked:disabled+label::before {
    box-shadow: none;
    background-color: var(--basic-light);
}

[type="checkbox"]:checked:disabled+label::before,
[type="radio"]:checked:disabled+label::before {
    background-color: var(--neutral-light);
}


/**--- Color inputs -------------------*/

[type="color"] {
    border: none;
}


/**--- File inputs -------------------*/

[type="file"] {
    width: 0;
    /* remove space occupied */
}

[type="file"]:focus {
    outline: none;
}

[type="file"]+label {
    cursor: pointer;
    display: inline-block;
    margin: 0.5em;
    padding: var(--space-xxs) var(--space-s);
    color: var(--basic-dark);
    background-color: var(--primary);
    border: 1px solid transparent;
    box-shadow: 0 0 0 transparent;
    transition: all 0.1s ease-in;
    transform: translate(0, 0);
}

[type="file"]:focus+label,
[type="file"]+label:hover {
    transform: translate(-1px, -2px);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
}

[type="file"]:active+label,
[type="file"]:focus+label {
    outline: none;
    border: 1px solid;
}

[type="file"]:active+label {
    color: var(--primary-dark);
    background: var(--basic-light) !important;
    transform: translate(0, 0) !important;
}


/**--- Range inputs -------------------*/

[type="range"] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    /* width: 100%; Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */
}

[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}


/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */


/* WebKit/Blink */

[type=range]::-webkit-slider-thumb {
    position: relative;
    top: 50%;
    width: 2rem;
    height: 2rem;
    background-color: var(--basic-light);
    border-radius: 100%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
}

[type=range]::-webkit-slider-runnable-track {
    height: 1rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}


/* Firefox */

[type=range]::-moz-range-thumb {
    position: relative;
    top: 50%;
    width: 2rem;
    height: 2rem;
    background-color: var(--basic-light);
    border-radius: 100%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
}

[type=range]::-moz-range-track {
    height: 1rem;
    background-color: transparent;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}


/* IE */

[type=range]::-ms-thumb {
    width: 1rem;
    height: 1rem;
    background-color: var(--basic-light);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border: none !important;
}

[type=range]:focus::-ms-thumb {
    outline: 1px solid var(--basic-light);
}

[type=range]::-ms-track {
    height: 1rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

[type=range]::-ms-fill-lower {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}


/* Meter: Webkit / Blink */

meter::-webkit-meter-bar {
    overflow: hidden;
    background: var(--basic-light);
    background-color: color(var(--neutral-light) tint(20%));
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, .1) 5px, rgba(255, 255, 255, .1) 10px);
    box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, .2);
}

meter::-webkit-meter-optimum-value {
    background-color: var(--primary);
    background: linear-gradient(135deg, var(--primary-light) 0%, var(--primary) 50%, var(--primary-light) 100%);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
}

meter:focus::-webkit-meter-bar {
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, .2);
}
