table {
    table-layout: fixed;
    border-collapse: collapse;
    max-width: 100%;
}


/* headings */

table th {
    padding: 0.5em 1em;
    background-color: var(--neutral-light);
    border: 1px solid var(--neutral);
}


/* core */

table td {
    cursor: text;
    padding: 0.3em 1em;
    word-wrap: break-word;
    border: 1px solid var(--neutral);
}

table tr>td:only-child {
    width: 100%;
}


/* footings */

table tfoot {
    font-weight: bold;
    background-color: var(--neutral);
}


/* legend */

table caption {
    font-variant: small-caps;
    text-align: center;
}

table caption::first-letter {
    text-transform: lowercase;
}
